body {
  background-color: #d3d3d3;
}

.wrapper {
  background-color: white;
  height: 500px;
  width: 50vw;
  border: 10px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  height: 50px;
  width: 30%;
  background-color: yellow;
}

#divD {
  height: 100px;
  background-color: rgb(219, 121, 0);
}

.container {
  background-color: rgb(0, 202, 0);
  color: white;
  font-size: 30px;
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

